<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <add name="AMSPostgreDb" connectionString="User ID=postgres;Password=ruby1030;Host=127.0.0.1;Port=5432;Database=AMSPostgreDb;Pooling=true;Min Pool Size=0;Max Pool Size=100;Connection Lifetime=0;" providerName="Devart.Data.PostgreSql" />
    <add name="AMSSqlDb" connectionString="Data Source=RUBY-PC;Initial Catalog=AMSSqlDb;Integrated Security=True;" providerName="System.Data.SqlClient" />
    <add name="SQLiteDb" connectionString="Data Source=\DataBase\Brethren.db;" providerName="Devart.Data.SQLite" />
    <!--<add name="SQLiteDb" connectionString="Data Source=C:\Users\Ruby\Desktop\BalangaAMS with OtherLocal\BalangaAMS.WPF\bin\Debug\DataBase\Brethren.db;" providerName="Devart.Data.SQLite" />-->
  </connectionStrings>
  <system.data>
  <DbProviderFactories>
    <remove invariant="Devart.Data.SQLite" />
    <add name="dotConnect for SQLite" invariant="Devart.Data.SQLite"
         description="Devart dotConnect for SQLite" 
         type="Devart.Data.SQLite.SQLiteProviderFactory, Devart.Data.SQLite, Version=4.6.301.0, Culture=neutral, PublicKeyToken=09af7300eec23701" />   
  </DbProviderFactories>
</system.data>
  <appSettings>
    <add key="photodirectory" value="\Photo\" />
    <add key="defaultphoto" value="noimage.jpg" />
    <add key="systemimagedirectory" value="\SystemImage\" />
    <add key="checkImg" value="check.png" />
    <add key="lateImg" value="late.png"/>
    <add key="crossImg" value="cross.png" />
    <add key="blankImg" value="blank.png" />
    <add key="startedImg" value="started.png" />
    <add key="notstartedImg" value="notstarted.png" />
    <add key="naImg" value="na.png " />
    <add key="daysToConsiderNewlyBaptised" value="365" />
    <add key="DivisionName" value="BATZAM"/>
    <add key="DistrictName" value="DISTRICT 1"/>
    <add key="LocalName" value="BALANGA"/>
    <add key="AdminPassword" value="admin"/>
    <add key="MemberPassword" value="member"/>
  </appSettings>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>