<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <add name="AMSPostgreDb" connectionString="User ID=postgres;Password=ruby1030;Host=127.0.0.1;Port=5432;Database=AMSPostgreDb;Pooling=true;Min Pool Size=0;Max Pool Size=100;Connection Lifetime=0;" providerName="Devart.Data.PostgreSql" />
    <add name="AMSSqlDb" connectionString="Data Source=RUBY-PC;Initial Catalog=AMSSqlDb;Integrated Security=True;" providerName="System.Data.SqlClient" />
    <add name="SQLiteDb" connectionString="Data Source=\DataBase\Brethren.db;"
         providerName="Devart.Data.SQLite"/>
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="DocumentFormat.OpenXml" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.5.5631.0" newVersion="2.5.5631.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>